  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">WIP Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="/">Home</a></li>
          <li><a href="/views/summary.html">WIP Summary</a></li>
          <li><a href="/views/detail.html">WIP Detail</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Customization <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/configuration/price.html">Product Price</a></li>
              <li><a href="/configuration/marea.html">Manufactorying Area</a></li>
              <li><a href="/configuration/station.html">Station Customization</a></li>
            </ul>
          </li>              
        </ul>
      </div>
    </div>
  </nav>